@page "/senior"
@page "/junior"
@inherits BasePage

<div id="main">
    <div class="title">@Title</div>

    <div class="input-container">
        <input type="text" placeholder="Search..." @oninput="@(args => Search(args.Value.ToString()))" />
        <button class="order-button" @onclick="ChangeOrder">
            <i class="fa-solid fa-arrow-@ContestOrderArrow" aria-hidden="true"></i> Year
        </button>
    </div>

    <div class="contest-list" >
        @foreach (ContestData contest in Contests)
        {
            <a class="link item-card" href=@($"{BasePath}/{contest.Year}")>
                <EurovisionTitle Country="@contest.CountryCode"
                                 City="@contest.City"
                                 Year="@contest.Year" />
            </a>
        }
    </div>
</div>

